
.imageCreateDog {
  display: flex;
  height: 100vh;
}

.title {
  font-family: var(--font-family);
  font-size: 20;
  margin-bottom: 20px;
}

.createBox {
  align-self: center;
  padding-left: 40%;
  font-size: 15px;
}

.inputContainer {
  width: 500px;
  text-align: left;
  margin-top: 5px;
}

.inputText {
  width: 150px;
  display: inline-block;
}

.inputBox {
  width: 250px;
}

.errors {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.temperamentsSelect {
  display: inline-block;
  width: 275px;
}

.temperamentBox {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  
}

.temperamentTitle {
  display: inline-block;
  margin-right: 10px;
}

.temperamentRemoveButton {
  display: inline-block;
  width: 30px;
  text-align: center;
  padding: 2px;
  height: 25px;
}

.temperamentSelect {
  width: 276px;
}