.dogImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 10px;
    
}

.dogsAttribute {
    font-family: var(--font-family);
    font-size: 14px;
    
}

.containerDog{
    font-family: var(--font-family);
    font-size: 14px;
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    padding: 10px;
    color: var(--font-color);
    opacity: 0.8;
    text-decoration: none;
    
}

.containerDog:hover {
 opacity: 1;
 border-radius: 5%;
 
}

.titleDog{
    font-size: 18px;
    font-weight: 600;
    color: var(--hover-color);
}

.attributes{
    margin-bottom: 3px;
    margin-top: 5px;
    color: var(--font-color);
  
    
}

.attributeTitle {
    font-weight: 500;
    
}

.linkDog{
    text-decoration: none;
}