.options{
    display: inline-block; 
    width: 200px;
    margin-right: 10px;
}

.searchBar{
    display: inline-block;
}

.removeButton{
    display: inline-block;
}

.homeMainContainer {
    margin-top: 20px;
    margin-bottom: 50px;
}