.options{
    display: inline-block; 
    margin-right: 20px;
}

.searchBar{
    display: inline-block;
}

.removeButton{
    display: inline-block;
}

.homeMainContainer {
    margin-top: 20px;
    margin-bottom: 50px;
}